# rename with ".env"

PROJECT_NAME=""

# DB AUTH

DB_AUTH_USER=""
DB_AUTH_SECRETS="" # Name of the secret file in ./secrets/
DB_AUTH_PORT=""
DB_AUTH_NAME="" # Name of the DB in postgres
POSTGRES_PASSWORD_FILE="" # Mandatory to lauch postgres

# BACKEND AUTH

BACK_AUTH_PORT=""

# BACKEND UPLOAD

BACK_UPLOAD_PORT=""

# FRONTEND

FRONT_PORT=""

# PROXY (NGINX)

PROXY_EXPOSED_PORT=""