# rename with ".env"

PROJECT_NAME=""

# DB AUTH

DB_AUTH_USER=""
DB_AUTH_SECRETS="" # Name of the secret file in ./secrets/
DB_AUTH_PORT=""
DB_AUTH_NAME="" # Name of the DB in postgres
POSTGRES_PASSWORD_FILE="" # Mandatory to lauch postgres

# BACKEND AUTH

BACK_AUTH_PORT=""

# BACKEND UPLOAD

BACK_UPLOAD_PORT=""

# BACKEND CHATBOT

BACK_CHATBOT_PORT=""

# FRONTEND

FRONT_PORT=""


# OLLAMA SSD PATH

OLLAMA_MODELS_PATH=""


# WAF env variales:
# harden the protection (default level 1)
PARANOIA=""
BLOCKING_PARANOIA=""
DETECTION_PARANOIA=""

# number of rules that were violated needed to block the request
ANOMALY_INBOUND=""

# enabling ModSecurity itself
MODSEC_RULE_ENGINE=""

# maximum request body size (all body, files included)
MODSEC_REQ_BODY_LIMIT=""
# maximum request body size (just body without attachments)
MODSEC_REQ_BODY_NOFILES_LIMIT=""

# maximum number of arguments that can be processed before setting the REQBODY_ERROR
MODSEC_ARGUMENTS_LIMIT=""

SSL_PORT=""
# http should redirect to https
#NGINX_ALWAYS_TLS_REDIRECT=""
# HashiCorp Vault
VAULT_PORT=""
VAULT_DEV_ROOT_TOKEN_ID=""
VAULT_DEV_LISTEN_ADDRESS=""
VAULT_ADDR=""
