.dropdown-container {
  position: relative;
  width: 240px;
}

.dropdown-button {
  width: 100%;
  height: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 16px;

  border: none;
  border-radius: 14px;

  background: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);

  font-size: 16px;
  font-weight: 500;

  cursor: pointer;
  transition: all 0.25s ease;
}

.dropdown-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.12);
  background-color: var( --color-white );
}

.arrow {
  transition: transform 0.3s ease;
}

.arrow.rotate {
  transform: rotate(180deg);
}

.dropdown-menu {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;

  width: 100%;

  background: white;
  color: var( --color-black );
  border-radius: 14px;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.12);

  overflow: hidden;

  opacity: 0;
  transform: translateY(-10px);
  pointer-events: none;

  transition: all 0.25s ease;
}

.dropdown-menu.open {

  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;

}

.dropdown-item {

  font-size: var();
  padding: 14px 16px;
  cursor: pointer;
  transition: background 0.2s ease;

}

.dropdown-item:hover {
  background: #f5f7fa;
}

.header-logo {

  height: 90%;
  width: auto;
  object-fit: contain;
  display: block;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;

}

.header-logo:hover {

  transform: scale( 1.008 );

}

.header-logo-animated {

  height: 90%;
  width: auto;
  object-fit: contain;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  z-index: 4;
  transform: translateX( -120% );

  animation: headerLogo 1s ease forwards;

}

@keyframes headerLogo {

  from {
    opacity: 0;
    transform: translateX( -120% );
  }
  to {
    opacity: 1;
    transform: translateX( 0 );
  }

}

.header-logo {

  height: 90%;
  width: auto;
  object-fit: contain;
  display: block;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;

}

.header-logo:hover {

  transform: scale( 1.008 );

}

.header-logo-animated {

  height: 90%;
  width: auto;
  object-fit: contain;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  z-index: 4;
  transform: translateX( -120% );

  animation: headerLogo 1s ease forwards;

}

@keyframes headerLogo {

  from {
    opacity: 0;
    transform: translateX( -120% );
  }
  to {
    opacity: 1;
    transform: translateX( 0 );
  }

}