.intro-logo-homepage {
    
    position: fixed;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    pointer-events: none;
    z-index: 2;

}

.intro-logo-homepage-animation {

    width: clamp(180px, 30vw, 500px);
    animation: introLogo 1s ease forwards;

}

@keyframes introLogo {

    0% {
      opacity: 1;
      transform: translateX( 0 ) scale(1);
    }
    60% {
      opacity: 1;
      transform: translateX( 0 ) scale(1);
    }
    100% {
      opacity: 0;
      transform: translateX( -150vw ) scale(1);
    }

}