.register-page {
	
	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;

	padding: 2%;
	box-sizing: border-box;

}

.form {
	
	width: auto;
	height: clamp( 400px, 78vw, 890px );
	aspect-ratio: 6/9;

	background-color: #000091;

	border-radius: clamp( 15px, 2vw, 30px );
	padding: clamp(20px, 5vw, 40px);
	box-sizing: border-box;

	flex-shrink: 0;

}
/*
.page_title {
	color:#f3f4f6;
	font-family: 'Times New Roman', Times, serif;
	font-weight: 200px;
	letter-spacing: 1px;
}

.field_container {
	color: #e0e0e0;
	display: flex;
	flex-direction: column;
	gap: 5px;
	width: 60%;
}

.field_name {
	font-family: Arial, Helvetica, sans-serif;

}

input {
	border-radius: 15px;
	background-color: #333345;
	color: #e0e0e0;
	padding: 5px;
	border: 1px solid #4a4a5a;
	transition: border-color 0.2s;
}

input:focus {
	outline: none;
	border-color: #818cf8;
}

input::placeholder {
	color: #888;
}
.rules_verification {

display: flex;
flex-direction: line;
align-items: center;
gap: 10px;
line-height: 1;
}

button {
	margin-top: 10px;
	background-color: #818cf8;
	color: #fff;
	border-radius: 15px;
	font-size: large;
	width: 100%;
	border: none;
	cursor: pointer;
	transition: background-color 0.2s;
}

}*/
